<!DOCTYPE html>
<html lang="en-us" ng-app="tutorial4">
<head>
	<title>To-Do List Angular</title>
</head>
<body>
	<div ng-controller="ControllerZero">
    	<input ng-model="message" >
    	<button ng-click="handleClick(message);">LOG</button>
	</div>

	<div ng-controller="ControllerOne">
    	<input ng-model="message" >
	</div>

	<div ng-controller="ControllerTwo">
    	<input ng-model="message" >
    </div>

	<script src="../../ng/angular.min.js"></script>
	<script src="js/module.js"></script>
	<script src="js/tutorial4Controller.js"></script>
	<script src="js/tutorial4ControllerSecond.js"></script>
	<script src="js/tutorial4ControllerThird.js"></script>
	<script src="js/tutorial4Service.js"></script>
</body>
</html>

